<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kochi_TVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="TVM_LOG\TVM.log" />
			<encoding value="utf-8" />
			<param name="AppendToFile" value="true" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d  (%file:%line) - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="VoiceEnable" value="False" />
	</appSettings>
	<system.serviceModel>


		<!--//************Aktif***************//-->
		<!--<bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IOcc" />
          <binding name="BasicHttpBinding_IPayPoint" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://10.40.29.5:91/OccService/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOcc" contract="OccSrv.IOcc"
          name="BasicHttpBinding_IOcc" />
        <endpoint address="http://10.40.29.5:90/PaypointService/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPayPoint" contract="PayPointSrv.IPayPoint"
          name="BasicHttpBinding_IPayPoint" />
      </client>-->
		<!--//************Host in Visual studio***************//-->
		<!--<bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IOcc" />
          <binding name="BasicHttpBinding_IPayPoint" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:53129/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOcc" contract="OccSrv.IOcc"
          name="BasicHttpBinding_IOcc" />
        <endpoint address="http://localhost:54690/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPayPoint" contract="PayPointSrv.IPayPoint"
          name="BasicHttpBinding_IPayPoint" />
      </client>-->
		<!--//************Local iis Test Ortamı***************//-->
		<!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOcc" />
        <binding name="BasicHttpBinding_IPayPoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:88/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOcc" contract="OccSrv.IOcc"
          name="BasicHttpBinding_IOcc" />
      <endpoint address="http://localhost:89/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPayPoint" contract="PayPointSrv.IPayPoint"
          name="BasicHttpBinding_IPayPoint" />
    </client>-->
		<!--//************Kochi SDC Test Ortamı***************//-->
		<!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOcc" />
        <binding name="BasicHttpBinding_IPayPoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.40.29.5:91/OccService/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IOcc" contract="OccSrv.IOcc"
          name="BasicHttpBinding_IOcc" />
      <endpoint address="http://10.40.29.5:90/PaypointService/Service.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPayPoint" contract="PayPointSrv.IPayPoint"
          name="BasicHttpBinding_IPayPoint" />
	     <endpoint address="http://10.40.29.5:90/PaypointServiceV2/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap1" contract="AFCDataTransactionService.ServiceSoap"
                name="ServiceSoap1" />
    </client>-->


		<!--//************ Asis Test Ortamı Ek Bilgi ***************//-->

		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_IOcc" />
    <binding name="BasicHttpBinding_IPayPoint" />
    <binding name="ServiceSoap" />
    <binding name="ServiceSoap1" />
   </basicHttpBinding>
  </bindings>
		<client>
   <endpoint address="http://10.240.1.80:89/COMM/Occ/Service.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOcc"
    contract="OccSrv.IOcc" name="BasicHttpBinding_IOcc" />
   <endpoint address="http://10.240.1.80:89/COMM/Paypoint/Service.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPayPoint"
    contract="PayPointSrv.IPayPoint" name="BasicHttpBinding_IPayPoint" />
   <endpoint address="http://10.240.4.23/NStationService/service.asmx"
    binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
    contract="NStationService.ServiceSoap" name="ServiceSoap" />
   <endpoint address="http://10.240.1.80:89/COMM/Val2Afc/Service.asmx"
    binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
    contract="AFCDataTransactionService.ServiceSoap" name="ServiceSoap1" />
  </client>

	</system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="TVM_Entities" connectionString="metadata=res://*/Models.DatabaseFirstModel.csdl|res://*/Models.DatabaseFirstModel.ssdl|res://*/Models.DatabaseFirstModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TVM;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Kochi_TVM.Properties.Settings>
      <setting name="ip" serializeAs="String">
        <value>http://10.40.29.21:88/Service.asmx</value>
      </setting>
    </Kochi_TVM.Properties.Settings>
  </applicationSettings>
</configuration>